@{
    ViewBag.Title = "Home Page";
    string n = "Esdras Salvador Aguilar Elías";
    string s = "IV Semestre";
    int c = 1802004007;
    string m = "Programación IV";
}
<h1>@n</h1>
<h2>@s</h2>
<h3>Carné: @c</h3>
<h4>Curso: @m</h4>
<h5>Esta página web está diseñada para poder realizar mantenimientos de una empresa de venta de vehículos de todas marcas
    en ciertas áreas, cuenta con una ventana principal en la cual muestra datos personales, del creador de la página web, 
    un inventario para usuarios, vehículos, proveedores, clientes, el cual cuenta con sus respectivos procesos como; crear 
    un nuevo ítem, borrar, editar, para cada inventario.</h5>
